
<ion-header>
  <ion-navbar color="navbar">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-avatar float-right >
        <img src="assets/img/nu.png">
      </ion-avatar>
    <ion-title>
      Configuración
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding style="background:url(assets/img/LJbRHaq0QdGojrSsLS0a_pexels-photo-272242.jpeg) no-repeat center;background-size:cover;" id="page20">
  <ion-list id="configuraciones-list14">
    <ion-item color="none" id="configuraciones-list-item35">
      <ion-thumbnail item-left>
        <img [src]="base64Image" *ngIf="base64Image">
      </ion-thumbnail>
      <h2>
        Cambiar foto
      </h2>
    </ion-item>
  </ion-list>
      <ion-item id="configuraciones-textarea5">
      <ion-label>
        Dirección:
      </ion-label>
      <ion-textarea placeholder="Dr.Freyman 220" [ngModelOptions]="{standalone: true}" [(ngModel)]="direccion"></ion-textarea>
    </ion-item>
  
    <ion-item id="configuraciones-textarea6">
      <ion-label>
        Telefono:
      </ion-label>
      <ion-textarea placeholder="311-157-15-39" [ngModelOptions]="{standalone: true}" [(ngModel)]="telefono"></ion-textarea>
    </ion-item>
    <ion-item-divider>
      
        Cambiar Contraseña:
          
    </ion-item-divider>
    <form [formGroup]="myForm2"  novalidate> 
    <ion-item>
        <ion-input formControlName="pass1" placeholder="Ingrese su contraseña" type="password"  [(ngModel)]="pwd1"></ion-input>
    </ion-item>     
      <ion-item *ngIf="myForm2.get('pass1').errors && myForm2.get('pass1').dirty">
          <p color="danger" ion-text *ngIf="myForm2.get('pass1').hasError('minlength')">*Contraseña minimo 5 caracteres</p>
          <p color="danger" ion-text *ngIf="myForm2.get('pass1').hasError('maxlength')">*contraseña maximo 10 caracteres</p>        
    </ion-item>
    <ion-item id="configuraciones-textarea8">
      <ion-input  formControlName="pass2" placeholder="Repita contraseña"  type="password"  [(ngModel)]="pwd2"></ion-input>
    </ion-item>
        <ion-item *ngIf="myForm2.get('pass2').errors && myForm2.get('pass2').dirty">
            <p color="danger" ion-text *ngIf="myForm2.get('pass2').hasError('minlength')">*Contraseña minimo 5 caracteres</p>
            <p color="danger" ion-text *ngIf="myForm2.get('pass2').hasError('maxlength')">*contraseña maximo 10 caracteres</p>
    </ion-item>
  <button  ion-button id="configuraciones-button20"  block (click)="enviarImg()" [disabled]="myForm2.invalid" color="botones">
    Aceptar
  </button>
</form>
  <ion-fab bottom right >
    <button ion-fab color="danger"><ion-icon name="camera"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab (click)="takePic()" color="secondary">
        <ion-icon name="camera"></ion-icon>
      </button>
      <button ion-fab color="cconfirmada" (click)="openGallery()">
        <ion-icon name="md-images"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>

    <!-- <button ion-fab  (click)="enviarImg()">Enviar</button>-->
    
</ion-content>