<ion-header>
    <ion-navbar color="navbar">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-avatar float-right >
          <img src="img/nu.png">
        </ion-avatar>
      <ion-title>
        Álbum de avances
      </ion-title>
    </ion-navbar>
  </ion-header>
     
  <ion-content padding style="background:url(assets/img/pexels-photo-373019.jpeg) no-repeat center;background-size:cover;" >
    
        <ion-item class="card-oscuro"  id="configuraciones-list-item35">
           
          <ion-thumbnail  item-left>
              <img [src]="base64Image" *ngIf="base64Image">
            </ion-thumbnail>
            <button ion-button color="secondary" (click)="enviarImg()">Enviar foto</button>
            <h2 style="color:#e6e6e6;">
              Foto seleccionada
            </h2>              
          </ion-item>

          <button ion-button full  (click)="takePic()">
              <ion-icon name="camera"></ion-icon>&nbsp;Tomar foto
              </button>
              
              <ion-card  class="card-oscuro">
                <ion-slides class="image-slider" loop="true" effect="coverflow">
                  <ion-slide *ngFor="let photo of photos">
                    <p style="color:#e6e6e6;"><ion-icon name="md-images"  ></ion-icon> {{photo.fecha}} <ion-icon name="md-rewind" float-right></ion-icon></p>
                    <img src={{photo.foto}} class="thumb-img" imageViewer/>
                  </ion-slide>
                </ion-slides>
              </ion-card>

      
    </ion-content>