page-home {
    .block {
      position: relative;
      .deleteIcon {
        position: absolute !important;
        color: #ffffff !important;
        margin-left: 80% !important;
      }
      .deleteIcon:before {
        font-size: 30px !important;
      }
      }

      ion-slide.swiper-slide {
        left: 25%;
    }
    
    .slide-zoom {
        background: #e6e6e6;
    }
 
    .thumb-img {
        padding: 10px;
    }
    .card-oscuro {
        background: rgba(0, 0, 0, 0.5);
    }
    .color-fondo{
        color: #e6e6e6;
    }
}