<ion-header>
  <ion-navbar color="navbar">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-avatar float-right >
        <img src="assets/img/nu.png">
      </ion-avatar>
    <ion-title>
      Mensajes
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding style="background:url(assets/img/EmuTjLAWT2uh8gbU5sZa_fondo-de-pantalla-plano-de-color-cielo.jpg) no-repeat center;background-size:cover;" id="page4">
  <ion-list>
    <ion-item-divider style="width:100%;height:5px;margin:0px 0px;line-height:250px;background-color:#e8ebef;">Notificaciones</ion-item-divider>
    <ion-item-divider *ngIf="vacio">
      <p>no tiene notificaciones por el momento</p>
    </ion-item-divider>
    <div *ngFor="let n of mensajes">
    <ion-item-sliding>
      <button ion-item  on-click="verCompleto(n.asunto, n.mensaje)">
        <!--<ion-row>
          <ion-col icon-left col-1 >
            <ion-avatar  clear small>
                    <ion-icon name="md-notifications-off"></ion-icon>
                  </ion-avatar>
        </ion-col>
        <ion-col col-11>
            
           <h2>{{n.asunto}}</h2> 
            <br><p>  {{n.mensaje}} </p> 
            <p><ion-icon name="ion-calendar"></ion-icon>  {{n.fecha}}</p>
        </ion-col>
        </ion-row>-->

        <ion-icon name="md-mail-open" item-start ></ion-icon>
        {{n.asunto}}
        <ion-badge item-end color="cconfirmada">{{n.fecha}}</ion-badge>
        <br><p>{{n.mensaje}}</p>

      </button>
      <ion-item-options side="right">
        <button ion-button color="danger" (click)="borrarSitio(n.aviso_id)">
          <ion-icon name="trash"></ion-icon>
          Borrar 
        </button>
      </ion-item-options>
    </ion-item-sliding>
    </div>
    
  </ion-list>

 

</ion-content>