<ion-header>
  <ion-navbar color="navbar">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Olvide Contrasena
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding style="background:url(assets/img/HfvBN1qsSIWDxphnsagz_pexels-photo-255501.jpeg) no-repeat center;background-size:cover;" id="page2">
  <ion-card id="olvideContrasena-card21">
    <ion-list>
      <form id="olvideContrasena-form2" [formGroup]="sampleForm" class="form">
        <ion-item id="olvideContrasena-input3">
          <ion-label floating></ion-label>
          <ion-input type="email" placeholder="Ingresa tu correo" formControlName='email' class='form-controll' [(ngModel)]="correo" ></ion-input>
        </ion-item>
        <div *ngIf="formErrors.email">
          <div *ngFor="let errors of formErrors.email" >
            <p class="alert">{{ errors }}<p>
          </div>
        </div>
        <button id="olvideContrasena-button4" ion-button color="positive" block (click)="sendSMS()">
          Enviar
        </button>        
      </form>
    </ion-list>
  </ion-card>
</ion-content>