<ion-header>
  <ion-navbar color="navbar">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Citas Recordatorio
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding style="background:url(assets/img/9fY779LOSPuZ871kraTZ_colors-2560x1600-minimalistic-background-75-4250619615.jpg) no-repeat center;background-size:cover;" id="page6">
  <ion-list>
    <ion-item-divider style="width:100%;height:5px;margin:0px 0px;line-height:250px;background-color:#e8ebef;">Hoy</ion-item-divider>
    <ion-item-divider *ngIf="vacio">
      <p>no tiene citas por el momento</p>
    </ion-item-divider>
    <div *ngFor="let n of citas">
    <ion-item-sliding >
      <ion-item>
        <ion-row>
          <ion-col icon-left col-1 >
            <ion-avatar  clear small>
                    <ion-icon name="alarm"></ion-icon>
                  </ion-avatar>
          </ion-col>
          <ion-col col-6>
              
             <h2>{{n.fecha}}</h2>
              <p>a las {{n.hora}} horas</p> 
          </ion-col>
          <ion-col col-5>    
              <div *ngIf='n.status==="Pendiente"'> 
             <!-- <ion-badge   text-center color="cpendiente" item-start icon-left ><ion-icon name="paper-plane"></ion-icon>{{n.status}}</ion-badge> -->
              <ion-badge   text-center color="cpendiente" item-start icon-left ><ion-icon name="paper-plane"></ion-icon>{{n.status}}</ion-badge>
            </div>
            <div *ngIf='n.status==="Confirmada"'> 
              <ion-badge text-center color="cconfirmada" item-start icon-left ><ion-icon name="checkmark-circle"></ion-icon>{{n.status}}</ion-badge>
            </div>
            <div *ngIf='n.status==="Cancelada"'> 
              <ion-badge   text-center color="ccancelada" item-start icon-left ><ion-icon name="ios-close-circle-outline"></ion-icon>{{n.status}}</ion-badge>
            </div>  
            <div *ngIf='n.status==="Completada"'>  
            <ion-badge  text-center color="ccompletada" item-start icon-left ><ion-icon name="done-all"></ion-icon>{{n.status}}</ion-badge>
            </div>
              
          </ion-col>
        </ion-row>

      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="danger">
          <ion-icon name="trash"></ion-icon>
          Cancelar <br>Cita 
          
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </div>
  <ion-badge  text-center color="cpendiente" item-start icon-left ><ion-icon name="paper-plane"></ion-icon>pendiente</ion-badge>
  <ion-badge  text-center color="cconfirmada" item-start icon-left ><ion-icon name="checkmark-circle"></ion-icon>confirmada</ion-badge>
  <ion-badge  text-center color="ccancelada" item-start icon-left ><ion-icon name="ios-close-circle-outline"></ion-icon>cancelada</ion-badge>
  <ion-badge  text-center color="ccompletada" item-start icon-left ><ion-icon name="done-all"></ion-icon>completada</ion-badge>
  
  
  </ion-list>
  <ion-fab bottom right>
    <button ion-fab (click)="irCitas()" color="fab">
      <ion-icon name="md-calendar"></ion-icon>
    </button>
  </ion-fab>

</ion-content>